{% extends "common_elements/base_skeleton.html" %}
{% block title %} Signup {% endblock %}
{% block page_content %}

            <a href="/login">Login</a>
            <br>
            <br>

            <h3>Register:</h3>
            <form action="" method="post"> {% csrf_token %}
                    Name: {{ form.name }}{{ form.name.errors }}<br>
                    Email: {{ form.email }}{{ form.email.errors }}<br>
                    Password: {{ form.password }}{{ form.password.errors }}<br>
                    Confirm Password: {{ form.retype_password }}{{ form.retype_password.errors }}<br>
                    <input type="submit" name="Submit" value="Register">
             </form>

            <br>
{% endblock %}