<!DOCTYPE html>
<html>
<head>
    <title>Demo Project</title>
</head>
<body>
<br>
<a href="/login">Login</a>
<br><br>

            <b>Signup:</b>
            <form action="" method="post"> {% csrf_token %}
                    Name: {{ form.name }}{{ form.name.errors }}<br>
                    Email: {{ form.email }}{{ form.email.errors }}<br>
                    Password: {{ form.password }}{{ form.password.errors }}<br>
                    Confirm Password: {{ form.retype_password }}{{ form.retype_password.errors }}<br>
                    <button type="button" class="btn btn-primary btn-lg btn-block" id="btn1" onclick="this.disabled=true, this.form.submit()">Sign up</button>
             </form>

            <br>

</body>
</html>