{% extends "common_elements/base_skeleton.html" %}
{% block title %} Login {% endblock %}
{% block page_content %}

        <a href="/">Signup</a>
        <br>
        <br>
        <h3>Login:</h3>
        <form action="" method="post" >{% csrf_token %}
                Email: {{ form.username }}{{ form.username.errors }}<br>
                Password: {{ form.password }}{{ form.password.errors }}<br>
                {{ error_message }}<br>
                <button type="submit" value="Sign In">Sign in</button>
        </form>
<br>
<a href="/user/password/reset/">Forgot Password</a>

{% endblock %}