{% extends 'common_elements/home/base_skeleton.html' %}
{% load user_profiles_filters %}
{% block page_title  %}Registration Brand {% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/parsley.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/reg-log.css"/>
{% endblock %}
    {% block extra_js %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-scrollto.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('.c-brand-reg-box').click(function(){
                    $('.c-brand-register').show();
                    $('#c-con-band').ScrollTo();
                });
                //When user enter Business name, it will come on url page
                $('body').on('change keyup focusout','#id_business_name',function(){
                //convert to url friendly text
                var business_url = $(this).val().trim().replace(/[^\w ]+/g,'').replace(/ +/g,'-');
                $('#id_page_address').val(business_url);
                $('#id_page_address').change();
            });
            });
        </script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/parsley.min.js"></script>
    {% endblock %}
{% block page_content  %}
    <div class="c_search_height">
        <div class="c-register c-reg-bg">
            <video class="c_video_bg" autoplay loop poster="{{ STATIC_URL }}css/background.jpg">
                    <source src="{{ STATIC_URL }}images/site_bg/background.webm" type="video/webm">
            </video>
            <div class="c-reg-form">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 c-register-box">
                            <div class="c-reg-f-box">
                                <h1 class="text-center">Continue as</h1>
                                <div class="row c-select-user c-margin-top-20 c-margin-bottom-20">
                                    <div class="col-md-4 col-md-offset-2 col-sm-6 col-xs-6 c-padding-right-5-xs">
                                        <div class="c-brand-reg-box">
                                            <div class="c-brand-reg-icon">
                                                <img src="{{ STATIC_URL }}images/site/star-icon.png" alt=""/>
                                            </div>
                                            <div class="c-brand-reg-info">
                                                <a href="">Brand</a>
                                            </div>
                                            <div class="c-hide-input">
                                                <input type="radio" name="register" id="choice2" value="brand_registration" /><label for="choice">BRAND REGISTRATION</label><br />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-6 c-padding-left-5-xs">
                                        <div class="c-user-reg-box">

                                            <a href="/register/complete/user">
                                                <div class="c-user-reg-icon">
                                                    <img src="{{ STATIC_URL }}images/site/user-icon.png" alt=""/>
                                                </div>
                                                <div class="c-user-reg-info">
                                                    <a href="/register/complete/user">User</a>
                                                </div>
                                                <div class="c-hide-input">
                                                    <input type="radio" name="register" id="choice1" value="user_registration" /><label for="choice">USER REGISTRATION</label><br />
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div id="c-con-brand" class="c-brand-register">
                                    <form action="" method="post" data-parsley-validate>
                                    {%  csrf_token %}
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        {% if email_form %}
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div id="c-error-email" class="c-error-parsley">
                                                                </div>
                                                                <div class="c-input-group">
                                                                    {{ email_form.email|htmlattributes:"class:form-control c-form-control,required:'',data-parsley-errors-container:#c-error-email,data-parsley-type:email,placeholder:Email,data-parsley-trigger:change blur focusout,placeholder:Email" }}
                                                                </div>
                                                                {{ email_form.email.errors }}
                                                            </div>
                                                        </div>
                                                        {%  endif %}
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div id="c-error-name" class="c-error-parsley">
                                                                </div>
                                                                <div class="c-input-group">
                                                                    {{ brand_form.name|htmlattributes:"class:form-control c-form-control,placeholder:Name,required:'',data-parsley-errors-container:#c-error-name,data-parsley-trigger:change  blur focusout,placeholder:Name" }}
                                                                </div>
                                                                {{ brand_form.name.errors }}
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div id="c-error-businessname" class="c-error-parsley">
                                                                </div>
                                                                <div class="c-input-group">
                                                                    {{ brand_form.business_name|htmlattributes:"class:form-control c-form-control,placeholder:Business name,required:'',data-parsley-errors-container:#c-error-businessname,data-parsley-trigger:change  blur focusout,placeholder:Business Name"}}
                                                                </div>
                                                                {{ brand_form.business_name.errors}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div id="c-error-industry" class="c-error-parsley">
                                                                </div>
                                                                <div class="c-input-group">
                                                                    {{ brand_form.industry|htmlattributes:"class:form-control c-form-control,required:'',data-parsley-errors-container:#c-error-industry,data-parsley-trigger:change blur focusout,placeholder:Industry" }}
                                                                </div>
                                                                {{ brand_form.industry.errors }}
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div id="c-error-website" class="c-error-parsley">
                                                                </div>
                                                                <div class="c-input-group">
                                                                    {{ brand_form.website|htmlattributes:"class:form-control c-form-control,placeholder:Website,required:'',data-parsley-errors-container:#c-error-website,data-parsley-trigger:change blur focusout,data-parsley-type:url,placeholder:Website" }}
                                                                </div>
                                                                {{ brand_form.website.errors }}
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div id="c-error-country" class="c-error-parsley">
                                                                </div>
                                                                <div class="c-input-group">
                                                                    {{ brand_form.country|htmlattributes:"class:form-control c-form-control,required:'',data-parsley-errors-container:#c-error-country,data-parsley-trigger:change blur focusout,placeholder:Country" }}
                                                                </div>
                                                                {{ brand_form.country.errors }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <label for="">AD Channel URL</label>
                                                        <p class="c-info">Choose a unique <WEBSITE NAME></WEBSITE> web address to make it easier for people to find your Page. Once this is set, it cannot be changed.</p>
                                                        <div class="clearfix"></div>
                                                        <div id="c-error-unique" class="c-error-parsley">
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <label class="c-url-reg">http://www.theadbar.tv/</label>
                                                        <div class="c-input-group">
                                                            {{ brand_form.page_address|htmlattributes:"class:form-control c-form-control,required:'',data-parsley-errors-container:#c-error-unique,data-parsley-trigger:change blur focusout" }}
                                                        </div>
                                                        {{ brand_form.page_address.errors }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-5 col-sm-5 col-xs-12 ">
                                                        <div id="c-error-accept" class="c-error-parsley c-left">
                                                        </div>
                                                        <div class="c-checkbox">
                                                            <input type="checkbox" required data-parsley-errors-container="#c-error-accept" data-parsley-error-message="Please accept Terms and Conditions" data-parsley-trigger="change blur focusout" name="c_accept_cond" value="1"/>&nbsp;I accept the
                                                            <a href="">terms and conditions</a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-7 col-sm-7 col-xs-12">
                                                        <div class="c-checkbox">
                                                            <div class="clearfix"></div>
                                                            {{ brand_form.receive_updates|htmlattributes:"name:c_receive_update"}}&nbsp;Keep me updated on the latest from The AD Bar
                                                        </div>
                                                        {{ brand_form.receive_updates.errros}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 text-center">
                                                        <input class="btn c-btn c-btn-default c-btn-md c-margin-top-20" type="submit" value="Register as brand">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}