{% extends "common_elements/base_skeleton.html" %}
{% block title %} Password Reset {% endblock %}
{% block page_content %}
<h3>Password reset</h3>
<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one</p>
        <form action="" method="post" data-parsley-validate>
            {% csrf_token %}
                    {{ form.email }}
                    {{ form.email.errors }}
                    <input type="submit" value="Reset my password">
        </form>

{% endblock %}