<html>
<head>
    <title>Confirm Password Reset?</title>
</head>
<body>
{% if validlink %}
    <h1 class="text-center">Enter new password</h1>
    <p>Please enter your new password twice so we can verify you typed it in correctly</p>
            <form action="" method="post" data-parsley-validate>
                {% csrf_token %}
                        {{ form.new_password1 }}
                        {{ form.new_password1.errors }}
                        {{ form.new_password2 }}
                        {{ form.new_password2.errors }}
                        <input type="submit" value="Change my password" />
            </form>
{% else %}
    <h1>Password reset unsuccessful</h1>
    <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset</p>
{% endif %}

</body>
</html>