
<form action="" method="post">
{% csrf_token %}

    <input type="radio" name="login" id="choice{{ forloop.counter }}" value="user login" />
    <label for="choice{{ forloop.counter }}">USER LOGIN</label><br />
    <input type="radio" name="login" id="choice{{ forloop.counter }}" value="brand login" />
    <label for="choice{{ forloop.counter }}">BRAND LOGIN</label><br />

<input type="submit" value="Submit" />
</form>
<h1>Brand Register</h1>
<form action="" method="post">
{% csrf_token %}
Name: {{ brand_form.name }}
Title :{{ brand_form.job_title }}
Business Name :{{ brand_form.business_name}}
Industry :{{ brand_form.industry }}
Website :{{ brand_form.website }}
Country :{{ brand_form.country }}
Receive Updates :{{ brand_form.receive_updates}}

<div>Email :{{user_form.email}}</div><br>
<div>Password :{{user_form.password}}</div><br>

<input type="submit" value="Submit" />
</form>

<a href="{% url "socialauth_begin" 'facebook' %}">Facebook</a>
<a href="{% url "socialauth_begin" 'twitter' %}">Twitter</a>
<a href="{% url "socialauth_begin" 'linkedin' %}">LinkedIn</a>

<h1>User register Register</h1>
<form action="" method="post" enctype="multipart/form-data">
{% csrf_token %}
<div>Enter Name: {{ regular_user_form.name}}</div><br>
<div>Email :{{user_form.email}}</div><br>
<div>Password :{{user_form.password}}{{ user_form.password.errors }}</div><br>
<div>Retype Password :{{user_form.retype_password}}{{ user_form.retype_password.errors }}</div><br>
<div>Profile Picture :{{ regular_user_form.profile_picture}}</div></br><div>{{ regular_user_form.profile_picture.errors}}</div>

<div>Country :{{ regular_user_form.country}}</div><br>
<div>Gender :{{ regular_user_form.gender}}</div><br>


<input type="submit" value="Submit" />
</form>
</body>
</html>