<!DOCTYPE html>
<html>
<head>
    <title>
        Demo:{% block title %}{% endblock %}
    </title>
    {% block extra_css %}

    {% endblock %}
</head>
<body>
    <h1>Shopping Buddy Demo App</h1>
    {% block page_content %}

    {% endblock %}
</body>
    {% block extra_js %}

    {% endblock %}
    {% if messages %}
    {% for message in messages %}
      <div class="c-alert alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p class="text-center">{{ message|safe }}</p>
      </div>
    {% endfor %}
{% endif %}
</html>